body {font:11px "Arial", "ו";  padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; BACKGROUND:url(images/bg.gif);
scrollbar-face-color : #D8DBDF;
scrollbar-highlight-color : #FFFFFF;
scrollbar-shadow-color : #C1C6CC;
scrollbar-3dlight-color : #ABB1B3;
scrollbar-arrow-color : #7F8996;
scrollbar-track-color : #F8FAF9;
scrollbar-darkshadow-color : #ABB1B3;
}
.leftbg {  background-color: #f5f5f5}
.mainbg {  background-color: #f7f7f7}
.rightbg {  background-color: #f5f5f5}

.white {color:#ffffff; font-size:12px;}
td {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 11px}
A {
	COLOR: #000000; FONT: 11px verdana; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; FONT: 11px verdana; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT: 11px verdana; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT: 11px verdana; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0099FF; TEXT-DECORATION: underline
}
INPUT.buttonface {font:12px; height:20; BORDER-BOTTOM: #CCCCCC 1px groove; BORDER-RIGHT: #CCCCCC 1px groove; BACKGROUND-COLOR: #F7F7F7;}
.all {BORDER-RIGHT: #CCCCCC 1px solid; BORDER-TOP: #CCCCCC 1px solid; BORDER-LEFT: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC 1px solid}
.tabletop { background-color: #EEEEEE }
.tablefirst { background-color: #F5F5F5 }
.tablesecond { background-color: #FFFFFF }

.Standard-Input {
    BORDER-RIGHT: #0B6E81 1px solid; BORDER-TOP: #2FA70F 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #2FA70F 1px solid; BORDER-BOTTOM: #2FA70F 1px solid; 
	HEIGHT: 18px; BACKGROUND-COLOR: #ffffff;
	FONT-FAMILY: Verdana,Helvetica,sans-serif; 
}

.Standard-TEXTAREA {
    BORDER-RIGHT: #0B6E81 1px solid; BORDER-TOP: #2FA70F 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #2FA70F 1px solid; BORDER-BOTTOM: #2FA70F 1px solid; 
	BACKGROUND-COLOR: #ffffff;
	FONT-FAMILY: Verdana,Helvetica,sans-serif; 
}

#formStyle1 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 100px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle2 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 250px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle3 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 350px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle4 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 60px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle5 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 25px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle6 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 130px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle7 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 40px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle8 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 100px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle9 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 48px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle11 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 90px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyle12 {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; WIDTH: 85px; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
#formStyleall {
	BORDER-RIGHT: #7f7f7f 1px solid; BORDER-TOP: #7f7f7f 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #7f7f7f 1px solid; COLOR: #2f3f5f; BORDER-BOTTOM: #7f7f7f 1px solid; BACKGROUND-COLOR: #ffffff
}
.uptitle {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #f7f7f7 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #f7f7f7 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #bbbbbb 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #eeeeee
}