.headText{
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 5.5px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar .nav {
    display: table;
    margin: 0;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    float: none;
}

.navbar .nav li:first-child a {
    border-left: 0 none;
    border-radius: 3px 0 0 3px;
	padding-bottom: 2px;
    padding-top: 2px;
}
.navbar .nav li a {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
	padding-bottom: 2px;
    padding-top: 2px;
}
.navbar-inner {
	min-height: 24px;
}
#footer {
	background-image: linear-gradient(to bottom, #D00000, #D03030);
	background-color:#D03030;
	line-height: 30px;
}
.row-fluid .span2_4 {
	width:19.6%;
	margin-left: 0.49%
}
.container {
	min-width:1000px;
}

.baomingTitle {
	text-align:center;
	line-height: 60px;
	color:#FFFFFF;
	margin:1px;
	font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4f53","\5b8b\4f53",sans-serif;
	font-weight:normal;
}
.baomingContent {
	font-family:"\9ED1\4f53","\5b8b\4f53",sans-serif;
}

.baomingContent_1 {
	margin-top: 10px;
	font-family:"\9ED1\4f53","\5b8b\4f53",sans-serif;
	font-size: 20px;
	color:#FF0000;
	width:100%;
}

.baomingContent_2 {
	font-family:"\9ED1\4f53","\5b8b\4f53",sans-serif;
	font-weight: bold;
}

.baomingContent_3 {
	font-family:"\9ED1\4f53","\5b8b\4f53",sans-serif;
	font-weight: bold;
	color:#E24445;
	font-size:18px
}

.baomingContent_4 {
	font-family:"\9ED1\4f53","\5b8b\4f53",sans-serif;
	font-weight: bold;
	color:#FF9233;
}

.redAndbold {
	color:#FF0000;
	font-weight:bold;
}
.yellowAndbold {
	color:#F66900;
	font-weight:bold;
}
.blueLink {
	color:#0088CC;
	font-weight:bold;
}
.shadow {
  -webkit-box-shadow: 0 1px 4px #000000;
     -moz-box-shadow: 0 1px 4px #000000;
          box-shadow: 0 1px 4px #000000;
          border: 1px solid #888888;
}
#scrollUp {
    background: url("/assets/images/top.png") no-repeat scroll 0 0 transparent;
    bottom: 20px;
    height: 38px;
    right: 20px;
    width: 38px;
}

.charactorIntro {
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;	
}

.speechLink {
	list-style-type:none;
	line-height: 25px;
	font-size: 14px;	
}

.sourceTitle {
	list-style-type:square;
	font-size:14px;
	font-weight:bold;
	line-height: 15px;
}
.sourceTitle li {
	font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4f53","\5b8b\4f53",sans-serif;
	line-height: 15px;
}
.speechLink li {
	line-height: 15px;
	font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4f53","\5b8b\4f53",sans-serif;
}

p {
	font-size:14px;	
}

.adboard {
	width:100%;
	margin-left:6px;
	margin-bottom:2px;
}

.fenxiang_content {
	 margin-left:20px;
	 margin-right:20px;
	 text-align:top;
	 height:148px;
	 border-bottom:dashed 1px #B0BDC2;
	 margin-top:20px;
	 margin-bottom:10px;"
}

.fenxiang_content_right {
	 margin-right:20px;
	 text-align:top;
	 height:148px;
	 border-bottom:dashed 1px #B0BDC2;
	 margin-top:20px;
	 margin-bottom:10px;"
}